.editor-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: .5em;
  border-bottom: 1px solid var(--button-hover);
  height: var(--toolbar-height);
}

.main-editor {
  width: 100%;
}

.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--toolbar-button-height);
  margin-right: .4em;
  padding: .2em;
  border-radius: var(--toolbar-button-radius);
  cursor: default;

  &:hover {
    background-color: var(--button-hover);
  }
}

.insert-button {
  width: 1.3em;
  height: 1.3em;
  margin-right: .4em;
}

.insert-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .2em;
  height: var(--toolbar-button-height);
  margin-right: .5em;

  &:hover {
    background-color: var(--button-hover);
  }
}

.toolbar-separator {
  width: 0.1em;
  height: var(--toolbar-separator-height);
  background-color: var(--button-hover);
  margin-right: .5em;
}

.toolbar-button.dropdown {
  position: relative;
}

.dropdown-option:hover {
  background-color: var(--dropdown-bg-hover);
}

.dropdown-option {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dropdown-label {
  white-space: nowrap;
  margin: 0;
  padding-left: 0;
  font-size: .9em;
}

.dropdown-label-no-icon {
  padding: 10px 12px;
}

.dropdown-label-no-icon:hover {
  background-color: var(--dropdown-bg-hover);
}

.dropdown-icon {
  padding: 10px;
  padding-right: 8px;
  width: 1.35em;
  height: 1.35em;
}

.carat-icon {
  height: 1.2em;
  width: 1.2em;
  padding-left: .3em;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 1.5em;
  left: 0;
}

.dropdown .inline-dropdown-content {
  /* display: none; */
  cursor: default;
  position: absolute;
  background-color: var(--dropdown-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  top: 1.5em;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 13em;
  overflow-y: auto;
}

.hmd-hidden-token .inline-dropdown-content {
  display: none;
}

.toolbar-button.dropdown:hover .dropdown-content {
  display: block;
}

.toolbar-button.dropdown .dropdown-content a {
  color: var(--text);
  text-decoration: none;
  display: block;
}

#ai-widget {
  width: 1.3em;
  height: 1.3em;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z'/%3E%3C/svg%3E");
}

.light-icon {
  fill: currentColor;
  /* Inherit color from parent element */
  height: 24px;
  width: 24px;
  display: inline-block;
  /* Ensures inline behavior */
}

#fileInput {
  display: none;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  position: revert !important;
}

.CodeMirror-selected {
  background: #ff9f8a !important;
  opacity: 0.4;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all !important;
}