/* This line will hide the flashing of the original text 
area that the hypermd component mounts to */

:root {
  --text: var(--text-light);
  --text-light: #000;
  --text-dark: white;
  --text-secondary: var(--text-secondary-light);
  --text-secondary-light: #999;
  --text-secondary-dark: #333;

  /* Toolbar */
  --toolbar-height: 2em;
  --toolbar-separator-height: 1.5em;
  --toolbar-button-height: 1.3em;
  --toolbar-button-radius: 6px;
  --button-hover: #e1e1e1;

  --dropdown-bg: #f9f9f9;
  --dropdown-bg-hover: #f1f1f1;
}

html,
body,
#root,
#App {
  height: 100%;
  overflow: hidden;
}

.CodeMirror {
  height: calc(100vh - 1.5em);
  /* height: 100%; */
}

#main-editor {
  display: none;
}

.cm-formatting-list-ul {
  display: none;
}

.cm-s-hypermd-light img.hmd-image {
  vertical-align: middle;
  width: 60vw;
  max-width: 60vw;
  height: 50%;
  max-height: 30vh;
}