/* This line will hide the flashing of the original text 
area that the hypermd component mounts to */

:root {
  --toolbar-button-height: 1.5em;
}

#main-editor {
  display: none;
}

.editor-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: .5em;
}

.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: var(--toolbar-button-height);
  margin-right: .5em;

  &:hover {
    background-color: lightgrey;
  }
}

.insert-button {
  width: 1.5em;
  height: 1.5em;
  margin-right: .3em;
}

.insert-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .2em;
  height: var(--toolbar-button-height);
  margin-right: .5em;

  &:hover {
    background-color: lightgrey;
  }
}

.toolbar-separator {
  width: 0.1em;
  height: 1.5em;
  background-color: lightgrey;
  margin-right: .5em;
}